body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.col-4 {
  height: 1060px;
  width: 390px;
  background-color: beige;
  float: left;
  margin: 5px;
}

.col-8 {
  height: auto;
  width: 790px;
  background-color: beige;
  float: right;
  margin: 5px;
}

#profile {
  position: relative;
  height: 370px;
  width: 390px;
  background-image: url("./images/99922048.jpg");
}

#profile h1 {
  color: cornsilk;
  position: absolute;
  bottom: 0;
  right: 0;
}
.material-symbols-outlined {
  color: green;
  padding-top: 5px;
  margin-left: 15px;
}

.col-8 h3 {
  font-weight: lighter;
  margin-left: 7px;
  color: grey;
}

#background-color {
  background-color: green;
  color: white;
}

p {
  margin-left: 15px;
  padding: 0%;
}

footer {
  background-color: green;
  height: auto;
  text-align:center;
  color: white;
 padding: 1rem;
}

footer p {
    margin: 2px;
  
}

footer i {
  color: white;
}

/* meter styling */

.meter {
  box-sizing: content-box;
  height: 17px; /* Can be anything */
  position: relative;

  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* background-color: rgb(43, 194, 83); */
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.red > span {
  background-image: linear-gradient(#f0a3a3, #23f499);
}
